<!DOCTYPE html>
<html>
  <head>
    <title>Template</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/Materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='css/style.css' />
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/Materialize/dist/js/materialize.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="js/module.js"></script>
    <script src="js/controllers/homeCtrl.js"></script>
    <script src="js/controllers/formCtrl.js"></script>
    <script src="js/controllers/profileCtrl.js"></script>
  </head>
  <body ng-app='myApp' ng-controller='homeCtrl'>
    <h1>Template</h1>
      <ng-include src="'./partials/nav.html'"></ng-include>
      <ui-view></ui-view>
  </body>
</html>
