body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.checkbox {
  color: white;
}

input.writing {
  color: white;
}

.circle {
	width: 200px;
	height: 200px;
  border-radius: 50%;
}
