<h1>{{state | titlecase}}</h1>

<br><hr>
<form name='authForm' ng-submit='submit(user)'>

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text"
            class="form-control"
            ng-model="user.name"
            name="username"
            id="username"
            required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password"
            class="form-control"
            ng-model="user.password"
            name="password"
            id="password"
            required>
  </div>
  <div class="form-group" ng-if='state === "register"'>
    <label for="password">Password (Again):</label>
    <input type="password"
            class="form-control"
            ng-model="user.password2"
            name="password2"
            id="password2"
            required>
  </div>

  <div class="form-group" ng-if='state === "register"'>
    <button type="submit"
            ng-disable="authForm.#invalid"
            class='btn btn-default' ui-sref='login'>
            {{state | titlecase}}!
    </button>
  </div>
  <div class="form-group" ng-if='state === "login"'>
    <button type="submit"
            ng-disable="authForm.#invalid"
            class='btn btn-default'>
    <!-- <button type="submit"
            ng-disable="authForm.#invalid"
            class='btn btn-default' ui-sref='profile'> -->
            {{state | titlecase}}!
    </button>
  </div>
</form>
