<h1>BEERZ</h1>

<table id="beerz">
    <thead>
      <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Rating</th>
          <th>Sampled</th>
      </tr>
    </thead>

    <tbody ng-repeat="beer in beers | orderBy: 'name' | filter: filterText track by $index">
      <tr>
        <td>{{$index + 1}}</td>
        <td>{{beer.name}}</td>
        <td>{{beer.description}}</td>
        <td>{{beer.rating}}</td>
        <td>{{beer.sampled}}</td>
        <td>
          <p>
            <input type="checkbox" id="test{{$index + 1}}" ng-model='restaurant.indoor' ng-change="guestIndoors()"/>
            <label for="test{{$index + 1}}"></label>
          </p>
        </td>
        <td>
          <p>
            <input type="checkbox" id="next{{$index + 1}}" ng-model='restaurant.arrived' ng-change="guestArrived()"/>
            <label for="next{{$index + 1}}"></label>
          </p>
        </td>
        <td>
          <a type="button" ng-click="editRest($index, restaurant)" class="btn-floating cyan lighten-2" ng-href='#/entry'>
            <i class="tiny material-icons">mode_edit</i>
          </a>
        </td>
        <td>
          <button ng-click="deleteRest($index, restaurant)" type="button" class="btn-floating deep-orange lighten-2"><i class="small material-icons left">not_interested</i>Delete Me</button>
        </td>
      </tr>
    </tbody>
  </table>

<pre>{{user | json}}</pre>
