<h1>Profile</h1>

<div class="row">
  <h4 id="singleHeader">Me.</h4>
  <div class="col 6">
    <img src="/img/gattara.gif" alt="">
  </div>
</div>
  <div class="row">
    <div class="col s5 animated fadeInUp" style="-webkit-animation-duration:{{$index * 300}}ms">
      <h4 id="singleHeader">Me.</h4>
      <div class="card blue lighten-2">
        <div class="card-content center-align">
            <div class="card-title truncate white-text text-darken-4">{{user.name}}</div>
            <img class="circle" ng-src="{{user.image}}">
        </div>
        <hr>
        <p class="white-text text-darken-4">{{user.email}}</p>
        <p class="white-text text-darken-4">{{user.password}}</p>
      </div>
    </div>
    <div class="col s5 animated fadeInUp" style="-webkit-animation-duration:{{$index * 300}}ms">
      <h4 id="singleHeader">vs. Beer</h4>
      <div class="card blue lighten-2" ng-click="addBeer">
        <div class="card-content center-align">
            <div class="card-title truncate white-text text-darken-4">{{user.name}}</div>
            <img class="circle" ng-src="{{user.image}}">
        </div>
      </div>
    </div>
  </div>
  <table id="sampled">
      <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Edit</th>
        </tr>
      </thead>

      <tbody ng-repeat="beer in beers | orderBy: 'name' | filter: filterText track by $index">
        <tr>
          <td>{{$index + 1}}</td>
          <td>{{beer.name}}</td>
          <td>{{beer.description}}</td>
          <td>{{beer.rating}}</td>
          <td>{{beer.sampled}}</td>
          <td>
            <p>
              <input type="checkbox" id="test{{$index + 1}}" ng-model='restaurant.indoor' ng-change="guestIndoors()"/>
              <label for="test{{$index + 1}}"></label>
            </p>
          </td>
          <td>
            <p>
              <input type="checkbox" id="next{{$index + 1}}" ng-model='restaurant.arrived' ng-change="guestArrived()"/>
              <label for="next{{$index + 1}}"></label>
            </p>
          </td>
          <td>
            <a type="button" ng-click="editRest($index, restaurant)" class="btn-floating cyan lighten-2" ng-href='#/entry'>
              <i class="tiny material-icons">mode_edit</i>
            </a>
          </td>
          <td>
            <button ng-click="deleteRest($index, restaurant)" type="button" class="btn-floating deep-orange lighten-2"><i class="small material-icons left">not_interested</i>Delete Me</button>
          </td>
        </tr>
      </tbody>
    </table>
  <table id="notSampled">
      <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Sampled</th>
        </tr>
      </thead>

      <tbody ng-repeat="beer in beers | orderBy: 'name' | filter: filterText track by $index">
        <tr>
          <td>{{$index + 1}}</td>
          <td>{{beer.name}}</td>
          <td>{{beer.description}}</td>
          <td>{{beer.rating}}</td>
          <td>{{beer.sampled}}</td>
          <td>
            <p>
              <input type="checkbox" id="test{{$index + 1}}" ng-model='restaurant.indoor' ng-change="guestIndoors()"/>
              <label for="test{{$index + 1}}"></label>
            </p>
          </td>
          <td>
            <p>
              <input type="checkbox" id="next{{$index + 1}}" ng-model='restaurant.arrived' ng-change="guestArrived()"/>
              <label for="next{{$index + 1}}"></label>
            </p>
          </td>
          <td>
            <a type="button" ng-click="editRest($index, restaurant)" class="btn-floating cyan lighten-2" ng-href='#/entry'>
              <i class="tiny material-icons">mode_edit</i>
            </a>
          </td>
          <td>
            <button ng-click="deleteRest($index, restaurant)" type="button" class="btn-floating deep-orange lighten-2"><i class="small material-icons left">not_interested</i>Delete Me</button>
          </td>
        </tr>
      </tbody>
    </table>

<pre>{{user | json}}</pre>
